Header set Access-Control-Allow-Origin "*"
<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml
  Header append Vary User-Agent
</IfModule>

DirectoryIndex index.php index.html

Redirect 301 /docs/installation https://psalm.dev/docs/running_psalm/installation
Redirect 301 /docs/configuration https://psalm.dev/docs/running_psalm/configuration
Redirect 301 /docs/using_plugins https://psalm.dev/docs/running_psalm/plugins/using_plugins
Redirect 301 /docs/authoring_plugins https://psalm.dev/docs/running_psalm/plugins/authoring_plugins
Redirect 301 /docs/plugins_type_system https://psalm.dev/docs/running_psalm/plugins/plugins_type_system
Redirect 301 /docs/language_server https://psalm.dev/docs/running_psalm/language_server
Redirect 301 /docs/typing_in_psalm https://psalm.dev/docs/annotating_code/typing_in_psalm
Redirect 301 /docs/templated_annotations https://psalm.dev/docs/annotating_code/templated_annotations
Redirect 301 /docs/supported_annotations  https://psalm.dev/docs/annotating_code/supported_annotations

Redirect 301 /docs/fixing_code https://psalm.dev/docs/manipulating_code/fixing.md

RewriteEngine On
RewriteBase /
RewriteRule ^articles/psalm-3-and-a-half/?$ /views/article.php [L,NC]
RewriteRule ^r/([a-z0-9]+)$ /views/snippet.php?r=$1 [L,NC]
RewriteRule ^check$ /views/check.php [L,NC]
RewriteRule ^add_code$ /views/add_code.php [L,NC]
RewriteRule ^quickstart/?$ /docs/installation [R]
RewriteRule ^$ /views/index.php [L,NC]
RewriteRule ^schema/config$ /vendor/vimeo/psalm/config.xsd [L,NC]


RewriteRule ^composer\.*$ - [F,L]
RewriteRule ^includes/?.*$ - [F,L]
RewriteCond %{REQUEST_URI} !^/vendor/vimeo/psalm/config\.xsd
RewriteRule ^vendor/?.*$ - [F,L]
RewriteRule ^dbconfig.php.*$ - [F,L]
