Header set Access-Control-Allow-Origin "*"
AddType image/svg+xml svg svgz
AddType application/javascript .js
AddEncoding gzip svgz
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/css application/x-javascript application/javascript
</ifmodule>

DirectoryIndex index.php index.html

RewriteEngine On
RewriteBase /
RewriteRule ^r/([a-z0-9]+)$ /views/snippet.php?r=$1 [L,NC]
RewriteRule ^quickstart/?$ /docs/installation [R]
RewriteRule ^$ /views/index.php [L,NC]
RewriteRule ^schema/config$ /vendor/vimeo/psalm/config.xsd [L,NC]

RewriteRule ^composer\.*$ - [F,L]
RewriteRule ^includes/?.*$ - [F,L]
RewriteRule ^vendor/?.*$ - [F,L]
RewriteRule ^dbconfig.php.*$ - [F,L]
