.cm-s-elegant span.cm-number, .cm-s-elegant span.cm-string, .cm-s-elegant span.cm-atom { color: #000; }
.cm-s-elegant span.cm-comment { color: #888; line-height: 1em; }
.cm-s-elegant span.cm-meta { color: #000; font-style: italic; line-height: 1em; }
.cm-s-elegant span.cm-variable { color: #000; }
.cm-s-elegant span.cm-variable-2 { color: #000; }
.cm-s-elegant span.cm-qualifier { color: #000; }
.cm-s-elegant span.cm-keyword { color: #000; }
.cm-s-elegant span.cm-builtin { color: #000; }
.cm-s-elegant span.cm-link { color: #000; }
.cm-s-elegant span.cm-error { background-color: #000; }

.cm-s-elegant .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-elegant .CodeMirror-matchingbracket { outline:1px solid rgba(0,0,0,0.15); color:black !important; }

.CodeMirror-lint-mark-error {
    background-position: 0 95%;
    background-repeat: repeat-x;
    background-size: 7px 3px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 10'%3E%3Cpath fill='none' stroke='%23c42020' stroke-width='6' d='M0 8.5c8 0 8-7 16-7s8 7 16 7 8-7 16-7 8 7 16 7' class='st0'/%3E%3C/svg%3E") !important;
    padding-bottom: 5px;
}
.CodeMirror-lint-mark-warning {
    background-position: 0 95%;
    background-repeat: repeat-x;
    background-size: 7px 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='18' version='1' viewBox='0 0 32 18'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath stroke='%23A89542' stroke-width='5' d='M0 15c8 0 8-8 16-8s8 8 16 8'/%3E%3Cpath stroke='%23E0B72A' stroke-width='5' d='M0 11c8 0 8-8 16-8s8 8 16 8'/%3E%3C/g%3E%3C/svg%3E");
    padding-bottom: 5px;
}
.CodeMirror pre.CodeMirror-line {
    padding: 0 8px;
}
.CodeMirror-linenumber {
    padding-left: 0;
}
.CodeMirror-lint-marker-error,
.CodeMirror-lint-message-error {
    background-size: 16px 16px;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2225%22%20viewBox%3D%22342%20152%2024%2025%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20fill%3D%22%23D51717%22%20fill-rule%3D%22evenodd%22%20cx%3D%22354%22%20cy%3D%22164.9775%22%20r%3D%2212%22/%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22square%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%223%22%3E%3Cpath%20d%3D%22M349.0328%20169.9503L359.2832%20159.7M359.5187%20169.9503L349.2684%20159.7%22/%3E%3C/g%3E%3C/svg%3E);
}
.CodeMirror-lint-marker-warning,
.CodeMirror-lint-message-warning {
    background-size: 16px 16px;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2223%22%20viewBox%3D%22375%20153%2028%2023%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M389%20153.34c2.22%200%203.1%201.68%203.1%201.68l9.04%2015.37s1.55%202.54.5%203.94c-1.06%201.4-2.68%201.66-2.68%201.66h-19.53s-2.35-.32-3.2-1.66c-.85-1.35.8-3.95.8-3.95l8.9-15.38s.85-1.68%203.07-1.68z%22%20fill%3D%22%23F3CF00%22%20fill-rule%3D%22evenodd%22/%3E%3Cpath%20fill%3D%22%23544800%22%20fill-rule%3D%22evenodd%22%20d%3D%22M387%20159l.78%209%202.57.03.65-9.03%22/%3E%3Ccircle%20fill%3D%22%23544800%22%20fill-rule%3D%22evenodd%22%20cx%3D%22389%22%20cy%3D%22171.5%22%20r%3D%222%22/%3E%3C/svg%3E);
}
.CodeMirror-lint-marker-type,
.CodeMirror-lint-message-type {
    background-size: 16px 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 21'%3E%3Cdefs/%3E%3Cpath fill='%233549CB' fill-rule='nonzero' d='M7.37 21.02c1.7-.03 2.96-.58 3.8-1.64a10.77 10.77 0 001.9-3.74l.32-.85-.81-.3-.35.77c-.3.8-.75 1.61-1.35 2.47-.29.38-.62.7-1.01.97a2.3 2.3 0 01-1.4.41c-.4 0-.73-.16-.98-.5a1.42 1.42 0 01-.41-1c0-.52.06-1.06.2-1.62l3.13-12.04c.67.08 1.6.12 2.79.12 1.42 0 2.47-.35 3.14-1.05a5.55 5.55 0 001.3-3h-.7c-.2.53-.59.89-1.15 1.05a6 6 0 01-2.07.25c-.84 0-2.17-.04-3.98-.12-1.77-.06-3.33-.09-4.67-.09-1.57.03-2.76.51-3.56 1.45A6.78 6.78 0 000 6.16h.7c.62-1.53 1.78-2.3 3.48-2.3 1.13.03 2.06.07 2.8.13L4.6 12.8c-.23.83-.43 1.61-.6 2.34a7.59 7.59 0 00-.33 2.11c0 1.05.31 1.93.93 2.63.6.73 1.51 1.1 2.76 1.14z'/%3E%3C/svg%3E");
}
.CodeMirror-lint-marker-error,
.CodeMirror-lint-marker-warning {
    left: 4px;
    top: 2px;
}
.CodeMirror-lint-message-error,
.CodeMirror-lint-message-warning,
.CodeMirror-lint-message-type,
.CodeMirror-lint-message-reference {
    padding-left: 20px;
    background-position: top left;
    background-repeat: no-repeat;
}

.CodeMirror-lint-markers {
    width: 24px;
}
.CodeMirror-linenumber {
    color: #ccc;
}
.CodeMirror-gutters {
    background: #fff;
}

.CodeMirror {
    z-index: 2;
    font-size: 14px;
}

div.CodeMirror,
div.CodeMirror-lint-tooltip {
    font-family: "Operator Mono SSm A", "Operator Mono SSm B", "SF Mono", monospace;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6em;
}
