@font-face {
    font-family: 'National 2';
    font-weight: 400;
    src: url(/extra//extra/national-2-web-regular.woff2) format("woff2"),
        url(/extra//extra/national-2-web-regular.woff) format("woff");
}

@font-face {
    font-family: 'National 2';
    font-weight: 500;
    src: url(/extra/national-2-web-medium.woff2) format("woff2"),
        url(/extra/national-2-web-medium.woff) format("woff");
}

@font-face {
    font-family: 'National 2';
    font-weight: 600;
    src: url(/extra/national-2-web-bold.woff2) format("woff2"),
        url(/extra/national-2-web-bold.woff) format("woff");
}