div.cm_inline_container {
    margin: 1.5em 0;

    button {
        font-family: "Operator SSm A", "Operator SSm B";
        font-size: 14px;
        padding: 0 12px;
        line-height: 2.5em;
        cursor: pointer;
        margin: 0;
        border: 0;
        background: #cfeabb;
        color: #2e5d0b;
        margin-right: 1em;
        display: inline-block;

        &.reset {
            float: right;
            margin-right: 0;
            background: #eee;
            color: #000;
        }
    }

    .CodeMirror {
        background: #fff;
        padding: 10px;
        box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.3) inset;
        transition: box-shadow 0.2s;
        max-width: 100vw;
        box-sizing: border-box;

        &::after {
            content: 'interactive';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transition: opacity 0.2s;
            background: rgba(0, 0, 0, 0.04);
            padding: 5px 8px;
            color: rgba(0, 0, 0, 0.4);
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
    }

    .CodeMirror-scroll {
        height: auto;
    }
}

code, pre {
    font-family: "Operator Mono SSm A", "Operator Mono SSm B";
    font-style: normal;
    background: #f5f5f5;
    border: 0;
    font-size: .8em;
}

div.post {
    margin: 20px auto 80px;
    max-width: 680px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    h1 {
        padding-left: 20px;
        padding-right: 20px;
        margin: 2em 0 0;
        font-weight: normal;
        line-height: 1.2em;
    }

    h2, h3, h4 {
        padding-left: 20px;
        padding-right: 20px;
        margin: 1.5em 0 .5em;
    }

    h2 {
        font-size: 24px;
        line-height: 1.3em;
        font-weight: 500;
    }

    h3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3em;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    h4 {
        margin-bottom: -.8em;
        font-weight: 500;
    }

    hr {
        margin: 1.6em 0;
        border: none;
        height: 4px;
        background-position: 0 0;
        background-repeat: repeat-x;
        background-size: 11px 4px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 10'%3E%3Cpath fill='none' stroke='%23bbbbbb' stroke-width='3' d='M0 8.5c8 0 8-7 16-7s8 7 16 7 8-7 16-7 8 7 16 7' class='st0'/%3E%3C/svg%3E");
    }

    .meta {
        margin: 0.5em 0 3em;
        color: #666;

        &.inline {
            margin-bottom: -1em;
        }

        a {
            text-decoration: none;
        }
    }

    p, ul, ol, blockquote {
        padding-left: 20px;
        padding-right: 20px;
        hyphens: none;
        font-size: 16px;

        code {
            background: #f3f3f3;
            border: 0;
            font-size: 13px;
            padding: 5px;
            border-radius: .3em;
            color: #000;
        }

        a[href*="//"]:not([href*="psalm.dev"]) {
            background-position: center right;
            background-repeat: no-repeat;
            background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E %3Cpath fill=%22%23fff%22 stroke=%22%23a75251%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E %3Cpath fill=%22%23a75251%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E %3Cpath fill=%22%23fff%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E %3C/svg%3E");
            padding-right: 15px;
        }
    }

    p img {
        max-width: 100%;
    }

    blockquote {
        background-position: 0 0;
        background-repeat: repeat-y;
        background-size: 4px 11px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 32'%3E%3Cpath fill='none' stroke='%23D08685' stroke-width='4' d='M2 0c0 8 7 8 7 16-1 8-8 8-8 16s7 8 7 16-7 8-7 16'/%3E%3C/svg%3E");
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 1em;
        padding: 0 0 0 20px;

        > p {
            padding: 0;
        }
    }

    p.preview_warning {
        background: #dcecf1;
        border: 1px solid #68b9d4;
        border-radius: 5px;
        padding: 10px;
        font-family: "Operator SSm A", "Operator SSm B";
        font-size: 16px;
        text-align: center;
        color: #046075;
    }

    div.notice {
        color: #666;
    }

    > pre {
        overflow: auto;
        max-width: 100vw;

        > code {
            display: block;
            padding: 20px;
            font-family: "Operator Mono SSm A", "Operator Mono SSm B";
            font-style: normal;
            line-height: 1.7em;
            font-size: 1.1em;
        }
    }

    ul, ol {
        padding-left: 40px;

        li {
            margin-bottom: .5em;
        }
    }

    .cm-s-elegant span.cm-number,
    .cm-s-elegant span.cm-string,
    .cm-s-elegant span.cm-atom { color: #880f8a; }
    .cm-s-elegant span.cm-def { color: #0b0bb1; }
    .cm-s-elegant span.cm-keyword { color: #881d1d; }
}

@media all and (min-device-width: 1022px) {
    div.post {
        p, h1, h2, h3, h4 {
            padding-left: 0;
            padding-right: 0;
        }

        blockquote {
            margin-left: 0;
            margin-right: 0;
            padding-left: 30px;
        }

        h1 {
            font-size: 40px;
        }

        p, ul, ol, blockquote {
            font-size: 19px;

            code {
                font-size: 16px;
            }
        }

        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 24px;
        }

        ul, ol {
            padding-left: 20px;
        }
    }

    .cm_inline_container div.CodeMirror.CodeMirror-focused {
        box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.6) inset, 0 0 0 3px rgba(0, 0, 0, 0.1) inset;

        &::after {
            opacity: 0.5;
        }
    }
}