{% if page.toc.items and page.toc.items[0].children and page.toc.items[0].children|length < 10 %}
<div class="bs-sidebar hidden-print well" role="complementary">
    <ul class="nav bs-sidenav">
    {% for toc_item in page.toc %}
        <li class="main first-level {% if toc_item.active %}active{% endif %}"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
            {% for second_toc_item in toc_item.children %}
            <li class="second-level"><a href="{{ second_toc_item.url }}">{{ second_toc_item.title }}</a></li>
                {% for third_toc_item in second_toc_item.children %}
                <li class="third-level"><a href="{{ third_toc_item.url }}">{{ third_toc_item.title }}</a></li>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
