/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: -20px;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

/* The lint marker gutter */
.CodeMirror-lint-markers {
  width: 16px;
}

.CodeMirror-lint-tooltip {
  background-color: #ffd;
  border: 1px solid black;
  border-radius: 4px 4px 4px 4px;
  color: black;
  font-family: monospace;
  font-size: 10pt;
  overflow: hidden;
  padding: 2px 5px;
  position: fixed;
  white-space: pre;
  white-space: pre-wrap;
  z-index: 100;
  max-width: 600px;
  opacity: 0;
  transition: opacity .4s;
  -moz-transition: opacity .4s;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  -ms-transition: opacity .4s;
}

.CodeMirror-lint-mark-error, .CodeMirror-lint-mark-warning {
  background-position: left bottom;
  background-repeat: repeat-x;
}

.CodeMirror-lint-marker-error, .CodeMirror-lint-marker-warning {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  position: relative;
}

.CodeMirror-lint-message-error, .CodeMirror-lint-message-warning {
  padding-left: 18px;
  background-position: top left;
  background-repeat: no-repeat;
}

.CodeMirror-lint-marker-multiple {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAMAAADzjKfhAAAACVBMVEUAAAAAAAC/v7914kyHAAAAAXRSTlMAQObYZgAAACNJREFUeNo1ioEJAAAIwmz/H90iFFSGJgFMe3gaLZ0od+9/AQZ0ADosbYraAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%; height: 100%;
}

body {
    font-family: "Sentinel SSm A", "Sentinel SSm B";
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    font-size: 16px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    flex: 1;
}

nav {
    overflow: hidden;
    padding: 0 20px;
}

hgroup {
    margin: 20px 0 30px;
    float: left;
}
h1 {
    width: 300px;
    margin: 10px 0;
    font-size: 64px;
}

h2 {
    font-weight: normal;
    margin: 10px 0;
    font-size: 1em;
}

nav ul {
    list-style: none;
    float: right;
    margin-top: 53px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

nav ul li.doc_link {
    margin-right: -2px;
}

nav ul li a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    color: #c42020;
}

nav ul li a svg {
    position: relative;
    top: 7px;
}

nav ul li.doc_link a svg {
    margin-right: 3px;
}

.code_expanded nav h2, 
.code_expanded nav ul {
    display: none;
}

.code_expanded nav hgroup {
    margin: 15px 0 10px;
}

.code_expanded nav h1 a svg {
    height: 25px;
    width: auto;
}

.intro {
    max-width: 492px;
    padding: 0 20px 50px;
    float: left;
}

.code_expanded .intro {
    display: none;
}

.intro p,
.documentation p,
.intro ul,
.documentation ul {
    hyphens: auto;
    margin: 1em 0;
}

.intro ul,
.documentation ul {
    margin-left: 0;
    -webkit-padding-start: 20px;
    padding-inline-start: 20px;
}

.intro h3 {
    font-weight: normal;
    font-size: 24px;
    margin: 1.5em 0 0.8em;
}

div.cm_container {
    box-sizing: border-box;
    float: right;
    padding: 15px 20px 70px;
    width: 492px;
}

.code_expanded .cm_container {
    width: 100%;
    padding-bottom: 0;
}

div.cm_container button {
    border: 2px solid #000;
    border-top: 0;
    font-family: "Sentinel SSm A", "Sentinel SSm B";
    font-size: 16px;
    display: block;
    padding: 0 12px;
    float: left;
    line-height: 2.5em;
    cursor: pointer;
}

div.cm_container button svg {
    padding-right: 3px;
    position: relative;
    top: 2px;
}

div.cm_container button:hover {
    background: #EEE;
}

div.cm_container button:last-child {
    float: right;
}

div.cm_container #shrinker {
    display: none;
}

.code_expanded #expander {
    display: none;
}

.code_expanded div.cm_container #shrinker {
    display: block;
}

div.CodeMirror,
div.CodeMirror-lint-tooltip,
.intro pre,
#psalm_output,
code {
    font-family: "Operator Mono SSm A", "Operator Mono SSm B";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
}
div.CodeMirror,
#psalm_output {
    border: 2px solid black;
}
#psalm_output {
    display: none;
    font-family: "Operator Mono SSm A", "Operator Mono SSm B";
    font-size: 14px;
    line-height: 1.5em;
    padding: 5px;
    color: #666;
}
div.CodeMirror {
    z-index: 2;
    font-size: 14px;
    height: 360px;
    overflow: hidden;
    transition: 0.2s linear border-color, 0.2s linear box-shadow;
    position: relative;
}

.code_expanded #psalm_output {
    display: block;
}

@media all and (min-device-width: 600px) {
    div.CodeMirror.CodeMirror-focused {
        box-shadow: 0 0 0px 1px #000;
    }

    div.CodeMirror:not(.CodeMirror-focused):hover {
        
    }
    div.CodeMirror-lint-tooltip {
        padding: 4px 6px;
    }

    .code_expanded .cm_container {
        width: 100%;
    }

    .code_expanded .CodeMirror,
    .code_expanded #psalm_output {
        height: calc(65vh - 80px);
        width:100%;
        display: block;
        box-sizing: border-box;
    }

    .code_expanded #psalm_output {
        height: calc(35vh - 80px);
        border-top: 0;
        overflow: auto;
    }

    .code_expanded .container {
        width: 1024px;
    }

    .code_expanded .date {
        float: left;
        display: block;
        padding: 10px 20px 0 0;
        color: #999;
    }
}

@media all and (max-width: 1021px) {
    .intro,
    div.cm_container {
        float: none;
        padding: 0 25px 50px;
        max-width: 492px;
        width: auto;
    }

    .code_expanded .cm_container {
        padding: 0;
    }

    nav {
        padding: 25px 10px 50px;
    }

    nav ul,
    hgroup {
        float: none;
        margin: 0 15px 10px;
        padding: 0;
    }

    nav ul li {
        display: block;
        margin: 0.5em 0;
        padding: 0;
    }

    nav ul li a svg {
        width: 35px;
    }

    nav ul li.doc_link {
        margin-left: -3px;
    }

    #expander {
        display: none;
    }
}

.cm-s-elegant span.cm-number, .cm-s-elegant span.cm-string, .cm-s-elegant span.cm-atom { color: #000; }
.cm-s-elegant span.cm-comment { color: #888; line-height: 1em; }
.cm-s-elegant span.cm-meta { color: #000; font-style: italic; line-height: 1em; }
.cm-s-elegant span.cm-variable { color: #000; }
.cm-s-elegant span.cm-variable-2 { color: #000; }
.cm-s-elegant span.cm-qualifier { color: #000; }
.cm-s-elegant span.cm-keyword { color: #000; }
.cm-s-elegant span.cm-builtin { color: #000; }
.cm-s-elegant span.cm-link { color: #000; }
.cm-s-elegant span.cm-error { background-color: #000; }

.cm-s-elegant .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-elegant .CodeMirror-matchingbracket { outline:1px solid rgba(0,0,0,0.15); color:black !important; }

.CodeMirror-lint-mark-error {
    background-color: #c42020 !important;
    color: #FFF !important;
    box-shadow: 0 0 0px 1px #c42020 !important;
}
.CodeMirror-lint-mark-warning {
    background-color: #f5ca36;
    box-shadow: 0 0 0px 1px #f5ca36;
}
.CodeMirror pre.CodeMirror-line {
    padding: 0 8px;
}
.CodeMirror-linenumber {
    padding-left: 0;
}
.CodeMirror-lint-marker-error,
.CodeMirror-lint-message-error {
    background-size: 16px 16px;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2225%22%20viewBox%3D%22342%20152%2024%2025%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ccircle%20fill%3D%22%23D51717%22%20fill-rule%3D%22evenodd%22%20cx%3D%22354%22%20cy%3D%22164.9775%22%20r%3D%2212%22/%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22square%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%223%22%3E%3Cpath%20d%3D%22M349.0328%20169.9503L359.2832%20159.7M359.5187%20169.9503L349.2684%20159.7%22/%3E%3C/g%3E%3C/svg%3E);
}
.CodeMirror-lint-marker-warning,
.CodeMirror-lint-message-warning {
    background-size: 16px 16px;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2223%22%20viewBox%3D%22375%20153%2028%2023%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M389%20153.34c2.22%200%203.1%201.68%203.1%201.68l9.04%2015.37s1.55%202.54.5%203.94c-1.06%201.4-2.68%201.66-2.68%201.66h-19.53s-2.35-.32-3.2-1.66c-.85-1.35.8-3.95.8-3.95l8.9-15.38s.85-1.68%203.07-1.68z%22%20fill%3D%22%23F3CF00%22%20fill-rule%3D%22evenodd%22/%3E%3Cpath%20fill%3D%22%23544800%22%20fill-rule%3D%22evenodd%22%20d%3D%22M387%20159l.78%209%202.57.03.65-9.03%22/%3E%3Ccircle%20fill%3D%22%23544800%22%20fill-rule%3D%22evenodd%22%20cx%3D%22389%22%20cy%3D%22171.5%22%20r%3D%222%22/%3E%3C/svg%3E);
}
.CodeMirror-lint-marker-error,
.CodeMirror-lint-marker-warning {
    left: 4px;
    top: 2px;
}
.CodeMirror-lint-message-error,
.CodeMirror-lint-message-warning {
    background-position-y: 2px;
    padding-left: 20px;
}

.CodeMirror-lint-markers {
    width: 24px;
}
.CodeMirror-linenumber {
    color: #ccc;
}
.CodeMirror-gutters {
    background: #fff;
}



.quickstart {
    clear: both;
}

.documentation {
    max-width: 600px;
    padding: 0 20px 70px;
}

.documentation code {
    background: #eee;
    border-radius: 3px;
    display: inline-block;
    padding: 0 4px;
    font-size: 0.9em;
    box-shadow: 0 0 0.5px 0 rgba(0, 0, 0, 0.5) inset;
    margin: 0 0.2em 0;
}

.documentation pre {
    background: #555;
    padding: 20px 30px;
    font-size: 14px;
    color: #eee;
    border-radius: 6px;
    margin-bottom: 2em;
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

@media all and (max-device-width: 600px) {
    .documentation pre {
        border-radius: 0;
    }
}

footer {
    box-sizing: border-box;
    padding: 5px 15px 0;
    margin-top: 50px;
    text-align: center;
    clear: both;
    border-top: 2px solid #000;
}

.code_expanded footer {
    display: none;
}

.footer p {
    margin: 0;
}

.vimeo_logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 5px;
}

footer a:hover svg path {
    fill: #4bf;
}
